# k6 Web Dashboard (Oficial): https://grafana.com/docs/k6/latest/results-output/web-dashboard/
# Extensao JavaScript do k6 Reporter: https://github.com/benc-uk/k6-reporter

trigger:
  - main

variables:
  loadTestsScript: 'load-test.js'
  htmlReporterK6: 'k6-reporter.html'
  testsDirectory: './tests'

  # Agent VM image name
  vmImageName: 'ubuntu-latest'

  # Variaveis do Web Dashboard do k6
  K6_WEB_DASHBOARD: 'true'
  K6_WEB_DASHBOARD_EXPORT: 'k6-web-dashboard.html'

stages:
- stage: Tests
  displayName: Tests stage
  variables:
    - group: k6-web-dashboard
  jobs:
  - job: Tests
    displayName: Tests
    pool:
      vmImage: $(vmImageName)
    steps:
    - task: replacetokens@5
      inputs:
        targetFiles: '$(testsDirectory)/$(loadTestsScript)'
        encoding: 'auto'
        tokenPattern: 'default'
        writeBOM: true
        actionOnMissing: 'warn'
        keepToken: false
        actionOnNoFiles: 'continue'
        enableTransforms: false
        enableRecursion: false
        useLegacyPattern: false
        enableTelemetry: true
      displayName: 'Atualizar script de testes com após replaces'
    - script: cat $(testsDirectory)/$(loadTestsScript)
      displayName: 'Exibir conteúdo do script de testes'
    - script: |
        sudo gpg -k
        sudo gpg --no-default-keyring --keyring /usr/share/keyrings/k6-archive-keyring.gpg --keyserver hkp://keyserver.ubuntu.com:80 --recv-keys C5AD17C747E3415A3642D57D77C6C491D6AC1D69
        echo "deb [signed-by=/usr/share/keyrings/k6-archive-keyring.gpg] https://dl.k6.io/deb stable main" | sudo tee /etc/apt/sources.list.d/k6.list
        sudo apt-get update
        sudo apt-get install k6
        k6
      displayName: Instalar o k6
    - script: |
        cd $(testsDirectory)
        k6 run $(loadTestsScript) --vus $(ConcurrentUsers) --iterations $(Iterations)
      displayName: Executar os testes de carga com k6
    - script: |
        echo '** Arquivos/diretórios após a execução dos testes --> $(testsDirectory)'
        cd $(testsDirectory)
        ls
      displayName: Listar arquivos e diretórios na pasta ./Tests
      condition: always()
    - task: PublishHtmlReport@1
      condition: always()
      inputs:
        tabName: 'dashboard'
        reportDir: '$(testsDirectory)/$(K6_WEB_DASHBOARD_EXPORT)'
      displayName: Publicar Web Dashboard com os resultados dos testes
    - task: PublishHtmlReport@1
      condition: always()
      inputs:
        tabName: 'report'
        reportDir: '$(testsDirectory)/$(htmlReporterK6)'
      displayName: Publicar relatório com os resultados dos testes
- stage: BuildSimulation
  displayName: Build Simulation stage
  dependsOn: Tests
  jobs:
  - job: BuildSimulation
    displayName: Build Simulation
    pool:
      vmImage: $(vmImageName)
    steps:
    - script: echo "Simulando um build..."
      displayName: Simular um build